{% extends 'base_ext.html' %}
{% load bootstrap4 %}
{% block content %}
<div align="center">
<br/>
     <div class="form-group w-25">
<form action="" method=POST enctype="multipart/form-data">
    {% csrf_token %}
    {{ form_img.as_p }}
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <br/>   <input type="submit" value="Create" class="btn btn-secondary">
            <input type="submit" value="Cancel" class="btn btn-secondary" name="cancel_add_user_post" formnovalidate>
</div>
</div>

{% endblock %}