{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block content %}
<div align="center">
    <p>Please, use the following form to log-in:</p>
        <div class="form-group w-25">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary"> Log in </button>
                </form>
        </div>
    <p>Or you can log in with your social account</p>
    <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-outline-success">Google</a>
    <a href="{% url "social:begin" "github" %}" class="btn btn-outline-dark">GitHub</a>
        {% for message in messages %}
           <br> {{ message }}
        {% endfor %}
</div>
{% endblock %}
